<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.1" targetFramework="net45" />
  <package id="Facebook" version="6.4.2" targetFramework="net45" />
  <package id="FakeItEasy" version="1.19.0" targetFramework="net45" />
  <package id="FluentAssertions" version="3.0.90" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="PCLWebUtility" version="1.0.2" targetFramework="net45" />
  <package id="TweetinviAPI" version="0.9.2.3" targetFramework="net45" />
  <package id="TweetSharp" version="2.3.1" targetFramework="net45" />
</packages>